:root {
	--padding-header: .5%;
	--letter-margin-horizontal: 2%;
	--letter-margin-vertical: 5%;
	--key-margin: 1.5%;
	--letter-form-factor: 1;
	--key-form-factor: 1.5;
	--letter-border-radius: 2%;
	--key-border-radius: 5%;
	--keyboard-padding-horizontal: 1%;
	--keyboard-padding-vertical: 1%;
	--words-padding-horizontal: 5%;
	--words-padding-vertical: 1%;
	--body-background: #fff;
	--shadow-color: #999;
	--header-background: #eee;
	--header-foreground: #111;
	--letter-foreground: #111;
	--letter-background: #eee;
	--letter-foreground-wrong-letter: #eee;
	--letter-background-wrong-letter: #666;
	--letter-foreground-right-letter: #eee;
	--letter-background-right-letter: #880;
	--letter-foreground-right-position: #eee;
	--letter-background-right-position: #0a0;
	--key-foreground: #111;
	--key-background: #ccc;
	--key-foreground-hover: #111;
	--key-background-hover: #ddd;
	--key-foreground-wrong-letter: #eee;
	--key-background-wrong-letter: #666;
	--key-foreground-hover-wrong-letter: #eee;
	--key-background-hover-wrong-letter: #777;
	--key-foreground-right-letter: #eee;
	--key-background-right-letter: #880;
	--key-foreground-hover-right-letter: #eee;
	--key-background-hover-right-letter: #990;
	--key-foreground-right-position: #eee;
	--key-background-right-position: #0a0;
	--key-foreground-hover-right-position: #eee;
	--key-background-hover-right-position: #0b0;
}
@media (prefers-color-scheme: dark) {
	:root {
		--body-background: #fff;
		--shadow-color: #999;
		--header-background: #eee;
		--header-foreground: #111;
		--letter-foreground: #111;
		--letter-background: #eee;
		--letter-foreground-wrong-letter: #eee;
		--letter-background-wrong-letter: #666;
		--letter-foreground-right-letter: #eee;
		--letter-background-right-letter: #880;
		--letter-foreground-right-position: #eee;
		--letter-background-right-position: #0a0;
		--key-foreground: #111;
		--key-background: #ccc;
		--key-foreground-hover: #111;
		--key-background-hover: #ddd;
		--key-foreground-wrong-letter: #eee;
		--key-background-wrong-letter: #666;
		--key-foreground-hover-wrong-letter: #eee;
		--key-background-hover-wrong-letter: #777;
		--key-foreground-right-letter: #eee;
		--key-background-right-letter: #880;
		--key-foreground-hover-right-letter: #eee;
		--key-background-hover-right-letter: #990;
		--key-foreground-right-position: #eee;
		--key-background-right-position: #0a0;
		--key-foreground-hover-right-position: #eee;
		--key-background-hover-right-position: #0b0;
	}
}

html, body {
	min-height: 100vh;
}

html, body, main {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

html {
	font-family: sans-serif;
	user-select: none;
}

body {
	background: var(--body-background);
}

header {
	position: sticky;
	top: 0;
	background: var(--header-background);
	color: var(--header-foreground);
	box-shadow: var(--shadow-color) 0px 1px 2px;
	z-index: 999;
}

header > h1 {
	margin: 0;
	font-size: 7vw;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

header > h1::before, header > h1::after {
	content: "";
	display: block;
	height: 0;
	padding-top: var(--padding-header);
}

main {
	display: flex;
	flex-direction: column;
}

words {
	font-size: 10vw;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding: var(--words-padding-vertical) var(--words-padding-horizontal);
	flex-grow: 1;
}

words > word {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin: var(--letter-margin-vertical) 0;
}

words > word + word {
	margin-top: 0;
}

words > word > letter {
	display: inline-block;
	position: relative;
	flex-grow: 1;
	margin: 0;
	background: var(--letter-background);
	color: var(--letter-foreground);
	border-radius: calc(var(--letter-border-radius) * var(--letter-form-factor))/var(--letter-border-radius);
	box-shadow: var(--shadow-color) 0px 1px 2px;
}

words > word > letter + letter {
	margin-left: var(--letter-margin-horizontal);
}

words > word > letter::before {
	content: "";
	display: block;
	height: 0;
	padding-top: calc(100% * var(--letter-form-factor));
}

words > word > letter[label]::after {
	content: attr(label);
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
	line-height: 0;
	overflow: visible;
	text-align: center;
}

keyboard {
	position: sticky;
	bottom: 0;
	font-size: 5vw;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding: var(--keyboard-padding-vertical) var(--keyboard-padding-horizontal);
	background: var(--body-background);
	box-shadow: var(--shadow-color) 0px -1px 2px;
}

keyboard > row {
	display: flex;
	flex-direction: row;
	margin: 0;
}

keyboard > row:nth-child(even)::before {
	content: "";
	display: inline-block;
	flex-grow: 0.5;
}

keyboard > row:nth-child(even)::after {
	content: "";
	display: inline-block;
	flex-grow: 0.5;
	margin-left: var(--key-margin);
}

keyboard > row + row {
	margin-top: var(--key-margin);
}

keyboard > row > key {
	cursor: pointer;
	display: inline-block;
	position: relative;
	flex-grow: 1;
	margin: 0;
	background: #ccc;
	border-radius: calc(var(--key-border-radius) * var(--key-form-factor))/var(--key-border-radius);
	box-shadow: var(--shadow-color) 0px 1px 2px;
}

keyboard > row > key:hover {
	background: var(--key-background-hover);
	color: var(--key-foreground-hover);
}

keyboard > row > key + key {
	margin-left: var(--key-margin);
}

keyboard > row > key::before {
	content: "";
	display: block;
	height: 0;
	padding-top: calc(100% * var(--key-form-factor));
}

keyboard > row > key[letter]::after, keyboard > row > key[enter]::after, keyboard > row > key[backspace]::after {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
	line-height: 0;
	overflow: visible;
	text-align: center;
}

keyboard > row > key[letter]::after {
	content: attr(letter);
}


keyboard > row > key[enter]::after, keyboard > row > key[backspace]::after {
	content: "";
	width: 1.2em;
	top: calc((100% - 1.2em) / 2);
	height: 1.2em;
	left: calc((100% - 1.2em) / 2);
	background: currentColor;
}

keyboard > row > key[enter]::after {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.627 92.936c-2.0901-6.0137 0.9164-12.277 6.524-15.114 4.4407-3.3703 12.855-5.446 14.479 1.9353 3.1466 4.0287 3.022 14.507 9.0654 14.033 4.147-5.3466 6.8721-11.759 10.609-17.433 14.372-24.101 30.263-47.608 50.212-67.473 7.4243-5.6486 16.701-8.5245 25.968-8.8839 2.2985 4.4365-3.153 6.581-5.2166 9.8727-21.313 25.81-40.408 53.394-58.508 81.526-6.6215 10.203-12.586 20.827-18.472 31.445-4.0068 5.7775-11.399 5.3515-17.576 4.9437-6.634-2.1473-7.7947-10.128-10.408-15.681-2.4543-6.307-4.76-12.678-6.6771-19.171z'/%3E%3C/svg%3E");
}

keyboard > row > key[backspace]::after {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m39.241 23.011c-13.07 13.051-26.14 26.101-39.21 39.153 0.11184 1.2715-0.22523 2.7256 0.15757 3.8869 12.962 13.099 25.926 26.197 38.892 39.289h88.919v-82.679h-88.413c-0.11603 0.11607-0.23207 0.23218-0.3481 0.34829zm66.604 9.4872c-8.1662 8.1836-16.332 16.368-24.498 24.551-8.1662-8.1836-16.332-16.368-24.498-24.551h48.995zm-31.451 31.499c-10.447 10.447-20.894 20.894-31.341 31.34-10.192-10.444-20.385-20.888-30.578-31.331 10.285-10.375 20.57-20.75 30.856-31.124 10.354 10.372 20.708 20.744 31.063 31.115zm43.715 29.815c-9.937-9.9384-19.874-19.876-29.811-29.815 9.937-9.9532 19.874-19.906 29.811-29.859v59.672zm-12.216 1.6929h-49.093c8.1821-8.1821 16.365-16.364 24.547-24.547 8.1821 8.1821 16.365 16.364 24.547 24.547z'/%3E%3C/svg%3E");
}

keyboard > row > key[enter], keyboard > row > key[backspace] {
	flex-grow: 2;
}

keyboard > row > key[enter]::before, keyboard > row > key[backspace]::before {
	padding-top: calc(50% * var(--key-form-factor));
}

words > word > letter[value="2"] {
	color: var(--letter-foreground-right-position);
	background: var(--letter-background-right-position);
}

words > word > letter[value="1"] {
	color: var(--letter-foreground-right-letter);
	background: var(--letter-background-right-letter);
}

words > word > letter[value="0"] {
	color: var(--letter-foreground-wrong-letter);
	background: var(--letter-background-wrong-letter);
}

keyboard > row > key[value="2"] {
	color: var(--key-foreground-right-position);
	background: var(--key-background-right-position);
}

keyboard > row > key[value="1"] {
	color: var(--key-foreground-right-letter);
	background: var(--key-background-right-letter);
}

keyboard > row > key[value="0"] {
	color: var(--key-foreground-wrong-letter);
	background: var(--key-background-wrong-letter);
}

keyboard > row > key[value="2"]:hover, keyboard > row > key[value="2"]:active {
	color: var(--key-foreground-hover-right-position);
	background: var(--key-background-hover-right-position);
}

keyboard > row > key[value="1"]:hover, keyboard > row > key[value="1"]:active {
	color: var(--key-foreground-hover-right-letter);
	background: var(--key-background-hover-right-letter);
}

keyboard > row > key[value="0"]:hover, keyboard > row > key[value="0"]:active {
	color: var(--key-foreground-hover-wrong-letter);
	background: var(--key-background-hover-wrong-letter);
}

popup {
	display: block;
	position: sticky;
	top: 0;
	height: 0;
	overflow: visible;
	z-index: 500;
}

popup[show] > content {
	margin-top: 0;
}

popup > content {
	display: block;
	background: var(--header-background);
	padding: 4vw;
	margin: 0 3vw;
	border-radius: 0 0 2vw 2vw;
	text-align: center;
	margin-top: -100%;
	box-shadow: var(--shadow-color) 0px 1px 2px;
	transition: margin-top 0.2s;
}

popup > content > buttons {
	display: block;
	margin-top: 2vw;
}

popup > content > buttons > button {
	border: none;
	border-radius: 2vw;
	background: var(--body-background);
	margin: 1vw;
	padding: 2vw;
	font: inherit;
	font-weight: bold;
	font-size: 80%;
	box-shadow: var(--shadow-color) 0px 1px 2px;
}
