:root {
	--body-background-color: #111;
	--body-foreground-color: #eee;
	--box-shadow-color: #333;
	--main-background-color: #000;
	--component-border-color: #666;
	--component-background-color: #000;
}