:root {
	--body-background-color: #000;
	--body-foreground-color: #eee;
	--box-shadow-color: #111;
	--main-background-color: #222;
	--component-border-color: #ccc;
	--component-background-color: #222;
}