<!DOCTYPE html>
<html id="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ messages[lang].title }}</title>
	<link type="text/css" href="styles/main.css" rel="stylesheet" />
	<script type="text/javascript" src="lib/vue.min.js"></script>
</head>
<body>
	<header class="row">
		<h1 class="left">{{ messages[lang].title }}</h1>
	</header>
	<main :class="{ 'color-violet': stat == 'lore', 'color-orange': stat == 'influence', 'color-green': stat == 'observation', 'color-red': stat == 'strength', 'color-blue': stat == 'will' }">
		<section>
			<div class="tabs center justify">
				<button type="button" @click="stat = 'lore'" :class="{ active: stat == 'lore' }"><i>lore</i></button>
				<button type="button" @click="stat = 'influence'" :class="{ active: stat == 'influence' }"><i>influence</i></button>
				<button type="button" @click="stat = 'observation'" :class="{ active: stat == 'observation' }"><i>observation</i></button>
				<button type="button" @click="stat = 'strength'" :class="{ active: stat == 'strength' }"><i>strength</i></button>
				<button type="button" @click="stat = 'will'" :class="{ active: stat == 'will' }"><i>will</i></button>
			</div>
			<article>
				<section><h2 class="center">{{ messages[lang].stats[stat] }}</h2></section>
				<section class="row space-between">
					<strong>{{ messages[lang].baseValue }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="stats[stat].base--" :disabled="stats[stat].base <= 1"></button>
						<span class="field">{{ stats[stat].base }}</span>
						<button type="button" class="round plus" @click="stats[stat].base++" :disabled="stats[stat].base >= 4"></button>
					</span>
				</section>
				<section class="row space-between">
					<strong>{{ messages[lang].improvement }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="stats[stat].improvement--" :disabled="stats[stat].improvement <= -2"></button>
						<span class="field">{{ stats[stat].improvement }}</span>
						<button type="button" class="round plus" @click="stats[stat].improvement++" :disabled="stats[stat].improvement >= 2"></button>
					</span>
				</section>
				<section class="row space-between">
					<strong>{{ messages[lang].bonus }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="stats[stat].bonus--" :disabled="stats[stat].bonus <= 0"></button>
						<span class="field" :class="{ 'text-gray': settings.combat && stats[stat].bonus < stats[stat].combat || settings.spell && stats[stat].bonus < stats[stat].spell }">{{ stats[stat].bonus }}</span>
						<button type="button" class="round plus" @click="stats[stat].bonus++"></button>
					</span>
				</section>
				<section class="row space-between" v-if="settings.combat">
					<strong>{{ messages[lang].combatBonus }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="stats[stat].combat--" :disabled="stats[stat].combat <= 0"></button>
						<span class="field" :class="{ 'text-gray': stats[stat].combat <= stats[stat].bonus }">{{ stats[stat].combat }}</span>
						<button type="button" class="round plus" @click="stats[stat].combat++"></button>
					</span>
				</section>
				<section class="row space-between" v-if="settings.spell">
					<strong>{{ messages[lang].spellBonus }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="stats[stat].spell--" :disabled="stats[stat].spell <= 0"></button>
						<span class="field" :class="{ 'text-gray': stats[stat].spell <= stats[stat].bonus }">{{ stats[stat].spell }}</span>
						<button type="button" class="round plus" @click="stats[stat].spell++"></button>
					</span>
				</section>
			</article>
			<article>
				<section class="row space-between">
					<strong>{{ messages[lang].encounterModifier }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="modifiers.encounter--"></button>
						<span class="field">{{ modifiers.encounter }}</span>
						<button type="button" class="round plus" @click="modifiers.encounter++"></button>
						&nbsp;
						<button type="button" class="round times" @click="modifiers.encounter = 0"></button>
					</span>
				</section>
				<section class="row space-between">
					<strong>{{ messages[lang].testModifier }}</strong>
					<span class="row align-middle">
						<button type="button" class="round minus" @click="modifiers.test--"></button>
						<span class="field">{{ modifiers.test }}</span>
						<button type="button" class="round plus" @click="modifiers.test++"></button>
						&nbsp;
						<button type="button" class="round times" @click="modifiers.test = 0"></button>
					</span>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.blessed" /><span>&nbsp;{{ messages[lang].blessed }}</span></label></strong>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.cursed" /><span>&nbsp;{{ messages[lang].cursed }}</span></label></strong>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.combat" /><span>&nbsp;{{ messages[lang].combatMode }}</span></label></strong>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.spell" /><span>&nbsp;{{ messages[lang].spellMode }}</span></label></strong>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.sixes" /><span>&nbsp;{{ messages[lang].sixesCountDouble }}</span></label></strong>
				</section>
				<section>
					<strong><label class="switch"><input type="checkbox" v-model="settings.ones" /><span>&nbsp;{{ messages[lang].onesCancelSuccesses }}</span></label></strong>
				</section>
			</article>
			<article v-if="dice.length > 0">
				<section class="row wrap center">
					<button v-for="(die, index) in dice" class="die" :class="{ failure: count(die) < 0, success: count(die) > 0 }" :value="die.value" :rnd="die.rnd" @click="reroll(index)"></button>
				</section>
				<section class="center">
					<h2>{{ result }}</h2>
				</section>
			</article>
			<section class="center">
				<button type="button" class="large" @click="roll()">{{ messages[lang].roll }}</button>
				<button type="button" class="large" @click="clear()" :disabled="dice.length == 0">{{ messages[lang].clear }}</button>
			</section>
		</section>
	</main>
</body>
<script type="text/javascript" src="scripts/main.js"></script>
</html>